<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
        <!--icon component-->
        <!--<svg class="icon icon--white collapsible__chevron"> รูปไม่ขึ้นงง
            <use xlink:href="./images/sprite.svg#chevron"></use>
        </svg> -->
        <!--icon component-->
        <img class="icon icon--white collapsible__chevron" src="./images/chevron.svg" alt="">
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus blanditiis rem earum iusto dolorum tempore explicabo nulla sequi aperiam cumque?
    </div>
</div>