<div class="card testimonial">
    <div class="grid grid--1x2">
        <div class="testimonial__image">
            <img src="images/testimonial.jpg" alt="A happy, smiling customer">
            <!--icon component-->
            <span class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </span>
            <!--icon component-->
        </div>
         <!--quotes component-->
         <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia laboriosam inventore dolorem facere? Sint molestias aspernatur atque odio, nihil obcaecati.</p>
            <footer>
                <!--component image-->
                <div class="media">
                    <div class="media__image">
                        <svg class="icon icon--primary quote__line">
                            <use xlink:href="images/sprite.svg#line"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title quote__author">Horn smith</h3>
                        <p class="quotes__organization">Fullstack Developer</p>
                    </div>
                </div>
                <!--component image-->
            </footer> 
        </blockquote>
        <!--quotes component--> 
    </div>
  </div>